@import "flowbite";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: 'Inter', sans-serif;
}
.swiper-button-next, .swiper-button-prev {
  font-size: 10px !important;
}